body {
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .player-container {
    margin-top: 60px;
  }
  
  video {
    width: 80%;
    border-radius: 12px;
    border: 2px solid red;
  }
  